<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DBDtimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <appContextSwitchOverrides value="Switch.System.Windows.Forms.UseLegacyAccessibilityFeatures=false"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DBDtimer.Properties.Settings>
      <setting name="AspectRatio" serializeAs="String">
        <value>16:9</value>
      </setting>
      <setting name="MenuScale" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="HUDScale" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DropdownAR" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DropdownUI" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DropdownHUD" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dsTimerEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enduranceTimerEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="manualMode" serializeAs="String">
        <value>False</value>
      </setting>
    </DBDtimer.Properties.Settings>
  </userSettings>
</configuration>
